code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

h1, h2, h3, h4 {
  color: midnightblue;
}

/* global font size and line height; defaults are 14px and 1.428 */
* {
  font-size: 16px;
  line-height: 1.6;
}